<h1> This is Post page <%= @id %> </h1>


<div class="wrapper-1">

  
      <div class= "container-column-2"> 
          <div class="container-3">
            <div>
              Post # <%= @post.id %>  by  <%=@users.find( @post.author_id ).name %> 
            </div>

            <div class="container-2">               
              <div>Comments: <%= @post.comments_counter %> </div>
              <div>likes: <%= @post.likes_counter %> </div>
            </div>

          </div>
          <div class="item"> <%= @post.text %> </div>

          
      </div>
  
      <div class= "container-column-2"> 
        <% com =  @comments.where(post_id: @id) %>
        <% if com!= nil  %>
            <% com.each do |comment|  %>
            <div> <%= @users.find(comment.author_id).name %>:  <%= comment.text %> </div>
            <% end %>
        <% end %>        
      </div>
   
</end>